.AddTodo{
    input{
        font-family: $main-font;
        font-weight:400;
        caret-color: $bright-blue;
        box-sizing: border-box;
        padding: 15px 15px 15px 45px;
        width: 100%;
        margin-bottom: 15px;
        background-color: $very-dark-desaturated-blue;
        border: none;
        border-radius: 4px;
        color: $light-grayish-blue;
        &:focus{
            outline: none;
        }
    }
    &-checkbox{
        position: absolute;
    }
}