@import 'https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap';
$bright-blue: hsl(220, 98%, 61%);
$very-light-gray: hsl(0, 0%, 98%);
$very-light-grayish-blue: hsl(236, 33%, 92%);
$light-grayish-blue: hsl(233, 11%, 84%);
$dark-grayish-blue: hsl(236, 9%, 61%);

$very-dark-grayish-blue-1: hsl(235, 19%, 35%);
$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$light-grayish-blue-dt: hsl(234, 39%, 85%);
$light-grayish-blue-hover: hsl(236, 33%, 92%);
$dark-grayish-blue-dt:hsl(234, 11%, 52%);
$very-dark-grayish-blue-2:hsl(233, 14%, 35%);
$very-dark-grayish-blue-3:hsl(237, 14%, 26%);

/* @font-face {
  font-family: "Josefin Sans";
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
} */

$main-font: 'Josefin Sans', sans-serif;
$font-size: 18px;

/* :root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  } */


/* - Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)
- Mobile: 375px
- Desktop: 1440px */

