@import 'vars';
@import 'addTodo';
@import 'todoMenu';
@import 'todoList';
@import 'todoItem';
@import 'lightTheme';
@import 'todoAppContainer';
@import 'mediaQueries';

body{
    margin: 0;
    background-color: $very-dark-blue;
    font-family: $main-font;
    font-size: $font-size;
    font-weight:400;
    color: $light-grayish-blue;
    &.light{
        background-color: $very-light-grayish-blue;
        color: $very-dark-grayish-blue-2;
        
    }
}
h1{
    color: $very-light-gray;
}
ul{
    list-style: none; 
    padding: 0;   
    margin: 0;
}
figure{
    margin: 0;
}
.todo-head {
    &__bg{
        display: none;
        width: 100%;
    }
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
}